.title {
  font: var(--font-heading);
  /* margin-bottom: 10rem; */
}

/*for outer div*/
.outer {
  margin-top: 3rem;
}

.itemContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: space-between;
  overflow: hidden; */
}
